body {
    background-color: #FFA500;
    font-family:sans-serif;
    margin:0 ;
    font-family: ;
    padding-bottom:;
}

#ham{
    right: 400px; position:relative;
}

#Burguer{
    right: 100px; position:relative
}


#hamburgão{
   bottom: 300px position:relative;
}




#cardapio{
    border-radius: 30px;
    top: 50px; position:relative
    
}


#hamburguerzin{
  color: transparent;
}

 #hamburguerzin{
    color: transparent;
 }

 p{
    text-shadow: 0px 2px 5px white;
 }